.card {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  background-color: var(--light-green);
  border: 2px solid var(--green);
  border-radius: 6px;

  padding: 10px 20px;
}
.card img {
  width: 5%;
  margin-right: auto;
}

.title{
    margin-right: 20px;
}
.price{
    margin-right: 40px;
}

.delete {
  border: black;
  background: none;

  transition: 0.1s;

  margin-left: 10%;
}
.delete:hover {
  scale: 1.1;
}
.delete:active {
  scale: 1;
}
.delete img {
  width: 40px;
}

.inputContainer input {
  text-align: center;
  margin: 0px 10px;

  padding: 10px 0px;

  border-radius: 6px;
  border: var(--dark-green);

  transition: 0.1s;
}

.button {
  background-color: var(--green);
  color: black;
  padding: 5px 10px;
  border-radius: 6px;
  border: solid 2px var(--green);

  margin: 5px;

  transition: 0.1s;
}
.button:hover{
    scale: 1.1;
}
.button:active{
    scale: 1;
}
